<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Welcome to the Daily ScrumBag</title>
    <meta name="description" content="An Erik Butcher example of HTML5 and CSS3">
    <meta name="keywords" content="html5, css3, lynda, local storage, canvas, forms, semantics, web apps">
    <!--make sure mobile devices display the page at the proper scale	-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="/css/main.css" rel="stylesheet" type="text/css" media="screen, projection">
    <script type="text/javascript" src="~/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
</head>
<body id="home" class="no-js">
    <div id="page" class="hfeed site">
        <div id="leaderboard">
            @*<script type="text/javascript">
                    OA_show(467);
                </script>*@
        </div>
    </div>
    <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
    <header id="masthead" class="site-header" role="banner">
        <div class="site-branding">
            <a href="@Url.Action("", "Home")" rel="home">
                <img src="../s0.wp.com/wp-content/themes/vip/hackaday-2/img/logo.png" alt="Logo" class="logo-img">
            </a>
            <h1 class="site-title">
                <a href="@Url.Action("", "Home")" rel="home">The Daily ScrumBag</a>
            </h1>
        </div>

        <button class="menu-toggle"><span class"icon icon-navbar-toggle">Primary Menu</span></button>

        <nav id="site-navigation" class="main-navigation" role="navigation">
            <div class="menu-main-container">
                <ul id="menu-main" class="menu">
                    <li id="menu-item-90201" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-90201"><a href="@Url.Action("", "Home")">Home</a></li>
                    <li id="menu-item-136904" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-136904"><a href="@Url.Action("", "Blog")">Blog</a></li>
                    <li id="menu-item-115276" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-115276"><a href="https://hackaday.io/?from=had&amp;utm_source=hackaday&amp;utm_medium=menu&amp;utm_campaign=blog">Hackaday.io</a></li>
                    <li id="menu-item-97770" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-97770"><a href="https://store.hackaday.com/?from=had&amp;utm_source=hackaday&amp;utm_medium=menu&amp;utm_campaign=blog">Store</a></li>
                    <li id="menu-item-136905" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-136905"><a title="Build Something that Matters" href="https://hackaday.io/prize">Hackaday Prize</a></li>
                    <li id="menu-item-77211" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77211"><a href="submit-a-tip/index.html">Submit</a></li>
                    <li id="menu-item-101802" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-101802"><a href="about/index.html">About</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <section id="actionCall">
        @if (IsSectionDefined("header"))
            {
        @*@RenderSection("header", false)*@
            }
            else
            {
        @*<h1>Explore our world your way</h1>*@
            }
    </section>
    <div id="content" class="site-content">

        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
                @RenderBody()
            </main>
        </div>
    </div>
</body>
</html>
